@inherits LayoutComponentBase

@inject Services.CurrentUserProvider currentUserProvider
@inject Services.CurrentUserService currentUserService
@inject NavigationManager navigationManager

@using Utils;
@using Protos;
@using Public.AutoPart.Models;

<div class="main">
    <div class="top-row px-4">
        <div class="h-100">
            <a class="btn h-100" href="/">
                <img class="h-100" src="/images/logo.png" />
                <h5 class="d-inline-block logo-text">AUTOPARTS</h5>
            </a>
        </div>

        <div class="flex-fill px-5 mx-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" value="@SearchText" @oninput="UpdateSearchText">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" disabled="@string.IsNullOrEmpty(SearchText)" @onclick="SearchForAutoPart">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

        @if (currentUserProvider.LoadingUserInfo)
        {
            <p class="mb-0 font-italic">Loading...</p>
        }
        else if (currentUserProvider.IsLoggedIn)
        {
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-person mr-2" aria-hidden="true"></span>
                    @currentUserProvider.CurrentUserInfo.FirstName @currentUserProvider.CurrentUserInfo.LastName
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <p class="dropdown-item">
                        Signed in as <br />
                        <em>@currentUserProvider.CurrentUserInfo.Email</em>
                    </p>
                    <div class="dropdown-divider"></div>

                    <NavLink class="dropdown-item" href="./#">
                        Home
                    </NavLink>
                    @if (currentUserProvider.CurrentUserInfo.UserType == UserType.Supplier)
                    {
                        <NavLink class="dropdown-item" href="supplier-dashboard">
                            Supplier dashboard
                        </NavLink>
                    }
                    <div class="dropdown-divider"></div>

                    @if (currentUserProvider.CurrentUserInfo.UserType != UserType.Administrator)
                    {
                        <NavLink class="dropdown-item" href="profile">
                            Your profile
                        </NavLink>
                    }

                    @if (currentUserProvider.CurrentUserInfo.UserType == UserType.Administrator)
                    {
                        <NavLink class="dropdown-item" href="manage-suppliers">
                            Manage suppliers
                        </NavLink>
                        <NavLink class="dropdown-item" href="manage-manufacturers">
                            Manage manufacturers
                        </NavLink>
                        <NavLink class="dropdown-item" href="manage-car-brands">
                            Manage car brands
                        </NavLink>
                    }

                    @if (currentUserProvider.CurrentUserInfo.UserType == UserType.Supplier)
                    {
                        <NavLink class="dropdown-item" href="@CurrentUserSupplierProfileLink">
                            Your public supplier profile
                        </NavLink>
                    }

                    <div class="dropdown-divider"></div>
                    <NavLink class="dropdown-item" href="help">
                        Help
                    </NavLink>
                    <NavLink class="dropdown-item" href="##" @onclick="SignOut">
                        Sign out
                    </NavLink>
                </div>
            </div>
        }
        else
        {
            <NavLink class="ml-md-auto" href="sign-in">
                Sign In
            </NavLink>
            <NavLink class="ml-4 btn btn-md btn-primary" href="sign-up">
                Sign Up
            </NavLink>
        }
    </div>

    <div class="content container-fluid px-4">
        @if (Loading)
        {
            <p class="font-italic">Loading...</p>
        }
        else
        {
            @Body
        }
    </div>
</div>

@code {
    public bool Loading { get; set; } = true;
    public string CurrentUserSupplierProfileLink => $"supplier/{currentUserProvider.CurrentUserInfo.Id}";
    private string SearchText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentUserProvider.AddEventListenerOnLoadedUserInfo(HandleUserInfoLoaded);

        await currentUserService.SyncCurrentUserInfo();
    }

    private async Task SignOut()
    {
        await currentUserService.SignOut();
    }

    private void UpdateSearchText(ChangeEventArgs eventArgs)
    {
        SearchText = (string)eventArgs.Value;
    }

    private void SearchForAutoPart()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var autoPartFilter = QueryParsingUtility.ParseFilterFromUri<AutoPartsFilter>(uri);

        autoPartFilter.SearchText = SearchText;

        var query = QueryBuilderUtility.CreateQueryFromFilter("auto-parts", autoPartFilter);

        navigationManager.NavigateTo(query);
    }

    private void HandleUserInfoLoaded()
    {
        var currentUserType = currentUserProvider.IsLoggedIn
            ? (UserType?)currentUserProvider.CurrentUserInfo.UserType
            : null;

        if (!navigationManager.CanActivateCurrentRoute(currentUserType))
        {
            navigationManager.NavigateTo(string.Empty);
        }

        Loading = false;

        StateHasChanged();
    }
}
