@page "/manage-car-models/{CarBrandId:long}"

@inject Public.Car.Services.CarBrandService carBrandService
@inject Public.Car.Services.CarModelService carModelService
@inject Services.CarModelsManagerService carModelsManagerService
@inject IFileReaderService fileReaderService

@using Protos;
@using Models;
@using Shared.Utils;
@using Blazor.FileReader;

@if (CarBrand != null)
{
    <div class="d-flex mb-3">
        <h2 class="flex-grow-1">
            Car models manager for car brand <i>@CarBrand.Name</i>
        </h2>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
            <span class="oi oi-plus" aria-hidden="true"></span> Create new car model
        </button>
    </div>
}

<div class="collapse mb-3" id="collapseForm">
    <div class="card card-body">
        <EditForm class="col-md-3" Model="@formModel" OnValidSubmit="HandleCreateCarModel">
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="my-3 alert-danger">
                    @ErrorMessage
                </div>
            }

            <DataAnnotationsValidator />

            <div class="text-left">
                <ValidationSummary />
            </div>

            <InputText id="car-model-name" class="form-control mb-2" placeholder="Car model name" @bind-Value="formModel.Name" />

            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file"
                           id="inputGroupFile01"
                           class="custom-file-input"
                           @ref=dropTargetInput
                           @onchange="OnInputChange" />
                    <label class="custom-file-label" for="inputGroupFile01">@GetFileInputLabelText()</label>
                </div>
            </div>

            <button class="btn btn-md btn-primary btn-block mt-3" type="submit">
                Submit
            </button>
        </EditForm>
    </div>
</div>

@if (Loading)
{
    <p class="font-italic">Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Car model name</th>
                <th scope="col">Car model modifications</th>
                <th scope="col">Car model image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carModel in CarModels)
            {
                <tr>
                    <th scope="row">
                        @carModel.Id
                    </th>
                    <td>
                        @carModel.Name
                    </td>
                    <td>
                        <a class="btn btn-info" href="manage-car-modifications/@carModel.Id">
                            <span class="oi oi-external-link" aria-hidden="true"></span> Manage car model modifications
                        </a>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(carModel.ImageUrl))
                        {
                            <a class="btn btn-info" href="@carModel.ImageUrl" target="_blank">
                                <span class="oi oi-external-link" aria-hidden="true"></span> Show image
                            </a>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </button>
                        <button class="btn btn-danger" @onclick="() => HandleDeleteCarModel(carModel.Id)">
                            <span class="oi oi-trash" aria-hidden="true"></span> Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public long CarBrandId { get; set; }

    public bool Loading { get; set; } = true;
    public CarBrand CarBrand { get; set; }
    public CarModel[] CarModels { get; set; }
    public CarModelFormModel formModel { get; set; } = new CarModelFormModel();

    private ElementReference dropTargetInput;
    private IFileReaderRef inputFileReference;

    private string ErrorMessage { get; set; }
    private List<IFileInfo> InputFileList { get; set; } = new List<IFileInfo>();

    protected override async Task OnInitializedAsync()
    {
        formModel.CarBrandId = CarBrandId;

        CarBrand = await carBrandService.GetCarBrand(CarBrandId);

        await LoadCarModels();
    }

    protected override void OnAfterRender(bool isFirstRender)
    {
        if (isFirstRender)
        {
            inputFileReference = fileReaderService.CreateReference(dropTargetInput);
        }
    }

    private async Task HandleCreateCarModel()
    {
        if (InputFileList.Any())
        {

            var files = await FileUtility.ReadFilesAsync(inputFileReference);
            var file = files.First();

            formModel.ImageFileInfo = file.Key;
            formModel.ImageBuffer = file.Value;
        }

        await carModelsManagerService.CreateCarModel(formModel);

        formModel = new CarModelFormModel();
        InputFileList = new List<IFileInfo>();

        await LoadCarModels();
    }

    private async Task HandleDeleteCarModel(long carModelId)
    {
        await carModelsManagerService.DeleteCarModel(carModelId);

        await LoadCarModels();
    }

    private async Task LoadCarModels()
    {
        Loading = true;

        CarModels = await carModelService.GetCarModels(CarBrandId);

        Loading = false;
    }

    private string GetFileInputLabelText()
    {
        if (InputFileList.Any())
        {
            return InputFileList.First().Name;
        }

        return "Choose car model image";
    }

    private async Task OnInputChange(EventArgs e)
    {
        StateHasChanged();

        await RefreshFileList(inputFileReference, InputFileList);
    }

    private async Task RefreshFileList(IFileReaderRef reader, List<IFileInfo> list)
    {
        list.Clear();

        foreach (var file in await reader.EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            list.Add(fileInfo);
        }

        StateHasChanged();
    }
}
